/.DS_Store

/.default_path
/.makefiles
/.version
/config.log
/config.status
/conftest.dSYM/
/zangband
/dist/
/macos/build/
/macos/dist/
/macos/*.dSYM/

/src/*.o
/src/autoconf.h
/src/l-*.c
/src/lua/*.o
/src/lua/tolua

/lib/apex/scores.raw
/lib/data/*.raw
